* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: rgba(53, 176, 204, 0.603);
}

.container{
  max-width: 18rem;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 4.5rem);
  grid-template-rows: repeat(7, 4.7rem);
  margin: 20px auto;
}

.display1,
.display2{
  grid-column: 1/5;
  grid-row: 1/2;
  color: white;
  width: cal(4*4.5rem + 3*1px);
  font-size: 3em;
  text-align: right;
  background-color: rgb(36, 34, 34);
  padding: 2px;
}

.display2{
  grid-row: 2/3;
  font-size: 4em;
}

span{
  display: inline-block;
  white-space: nowrap;
}

.zero{
  grid-column: 1/3;
}

.btn-button{
  background-color: grey;
  color:white;
  text-align: center;
  padding:0px;
  border-width: 1px;
  border-color: rgb(180, 180, 172);
  font-size: 1.5rem;
}

.btn-button:nth-of-type(1),
.btn-button:nth-of-type(2),
.btn-button:nth-of-type(3),
.btn-button:nth-of-type(4)
{
  border-top: none;
}



.btn-button.operator{
  background-color: #993636;
}

